@page "/"

@using AntDesign.Charts
@using MoneyMate.Components.ui
@using Title = AntDesign.Charts.Title


<div class="mb-10 grid w-full gap-8 grid-cols-1  md:grid-cols-2 lg:grid-cols-3">
    <DashboardCard title="$ 2000" content="Total Income" />
    <DashboardCard title="$ 20000" content="Total Expenditure" />
    <DashboardCard title="$ 200000" content="Total Debt" />
</div>


<div class="container mx-auto flex flex-wrap gap-5">
    <!-- Weekly Chart Container -->
    <div class="border-2 flex-1 min-w-full rounded-md border-black bg-white p-4 lg:min-w-[45%]">
        <h1 class="text-center text-xl font-bold">This Week</h1>
        <Tabs>
            <TabPane Tab="Income">
                <div class="w-full">
                    <BarGraph Data="income" Config="incomeConfig" />
                </div>
            </TabPane>
            <TabPane Tab="Expenditure">
                <div class="w-full">
                    <BarGraph Data="expenditure" Config="expenditureConfig" />
                </div>
            </TabPane>
        </Tabs>
    </div>

    <!-- Monthly Chart Container -->
    <div class="border-2 flex-1 min-w-full rounded-md border-black bg-white p-4 lg:min-w-[45%]">
        <h1 class="text-center text-xl font-bold">This Month</h1>
        <div class="w-full">
            <PieChart Data="pieData" Config="pieConfig" />
        </div>
    </div>
</div>




@code {

    

    readonly object[] income =
    {
        new {day = "sun",
            income = 20000,
        }, new {day = "mon",
            income = 10000,
        }, new {day = "tue",
            income = 200,
        }, new {day = "wed",
            income = 12000,
        }, new {day = "thu",
            income = 18000,
        }, new {day = "fri",
            income = 20000,
        }, new {day = "sat",
            income = 20000,
        },
       
    };

    readonly ColumnConfig incomeConfig = new ColumnConfig
        {
          
          
            XField = "day",
            YField = "income",
            AutoFit = true,
            YAxis = new ValueAxis
            {
                Min = 0
            },
            Color = new[] { "#ae331b", "#1a6179" },
            SeriesField = "type"
        };

    




    readonly object[] expenditure =
    {
        new {day = "sun",
            expenditure = 20000,
        }, new {day = "mon",
            expenditure = 10000,
        }, new {day = "tue",
            expenditure = 200,
        }, new {day = "wed",
            expenditure = 12000,
        }, new {day = "thu",
            expenditure = 18000,
        }, new {day = "fri",
            expenditure = 20000,
        }, new {day = "sat",
            expenditure = 20000,
        },
       
    };
    readonly ColumnConfig expenditureConfig = new ColumnConfig
        {
          
            AutoFit = true,
            XField = "day",
            YField = "expenditure",
            YAxis = new ValueAxis
            {
                Min = 0
            },
            Color = new[] { "#00FF00", "#00FF00" },
            SeriesField = "type"
        };

   
    readonly object[] pieData =
       {
        new
        {
            type = "Income",
            value = 40000
        },
        new
        {
            type = "Expenditure",
            value = 25000
        },
        new
        {
            type = "Debt",
            value = 18000
        },
       
    };

    readonly PieConfig pieConfig = new PieConfig
        {
           
            
            AppendPadding = 10,
            InnerRadius = 0.6,
            Radius = 0.8,
            Padding = "auto",
            AngleField = "value",
            ColorField = "type",
            AutoFit = true,

        };
}